@model IEnumerable<RiskyApp.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a asp-action="Upsert" class="btn btn-primary">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Upsert" asp-route-id="@item.Id"><img src="~/lib/image/edit.png" style="width:30px;height:30px;"></a>             
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/lib/image/delete.png" style="width:30px;height:30px;"></a>
            </td>
        </tr>
}
    </tbody>
</table>
